<div class="container">
    <div class="panel-superior">
        <div class="cortina-transparente">

            <div class="titulo-container" fxLayoutAlign="center" fxLayout="column">
                <div class="titulo animate__animated animate__fadeIn" fxFlex="100">
                    Política de privacidad
                </div>
            </div>

        </div>
    </div>

    <div class="texto">

        <div class="titulo-parrafo">
            Protección de datos personales - Privacidad
        </div>
        
        <div class="parrafo">
            El prestador se encuentra profundamente comprometido con el cumplimiento de la normativa en protección de datos de carácter personal, y garantiza el cumplimiento íntegro de las obligaciones dispuestas, así como la implementación de las medidas de seguridad técnicas y organizativas, de Protección de Datos de Carácter Personal (LOPD) y el Reglamento General de Protección de Datos de Europa UE 2016/679 (RGPD).
        </div>
        
        <div class="parrafo">
            El prestador pone a disposición de los usuarios la Política de Privacidad de la entidad informando a los usuarios respecto a los siguientes aspectos: 
        </div>

        <ol type="1">
            <li>Datos del Responsable del tratamiento</li>
            <li>Finalidad</li>
            <li>Legitimación</li>
            <li>Destinatarios</li>
            <li>Procedencia</li>
            <li>Información adiccional</li>
        </ol>

        <div class="parrafo">
            Cuando precisemos obtener información personal por su parte, siempre se solicita que nos la proporcione de manera voluntariamente y de forma expresa.
        </div>

        <div class="parrafo">
            En cumplimiento la normativa en Protección de Datos de Carácter Personal, consiente explícitamente a que los datos personales facilitados, sean tratados bajo nuestra responsabilidad, para realizar las siguientes finalidades:
        </div>

        <ol type="1">
            <li>Gestionar nuestra relación y ofrecerle el servicio solicitado personalizado.</li>
            <li>La tramitación de consultas, asesoramiento, encargos, solicitudes o cualquier tipo de petición que sea realizada por el usuario a través de cualquiera de las formas de contacto que se ponen a disposición del usuario en el sitio web de {{this.responsable}}.</li>
            <li>Remisión de comunicaciones comerciales publicitarias sobre nuestros productos por e-mail, fax, SMS, MMS, comunidades sociales o cualesquier otro medio electrónico o físico, presente o futuro, que posibilite realizar comunicación comerciales.</li>
            <li>Tratamiento de su CV para selección de personal.</li>
        </ol>

        <div class="parrafo">
            Todos los datos solicitados son obligatorios, de no facilitarlos, sería imposible llevar a cabo la finalidad para la que se solicitan en cada caso.
        </div>

        <div class="titulo-parrafo">
            Información del tratamiento
        </div>

        <div class="parrafo">
            Según lo dispuesto en el Reglamento General de Protección de Datos UE 2016/679, el usuario debe recibir información puntual y concreta del responsable del tratamiento y los usos y fines del mismo. Para ello, se indica la siguiente información:
        </div>

        <div class="subtitulo-parrafo">
            ¿Quién es el responsable del tratamiento de sus datos?
        </div>

        <ul>
            <li><span class="negrita">Identidad:</span> {{this.responsable}}</li>
            <li><span class="negrita">CIF:</span></li>
            <li><span class="negrita">Teléfono:</span> {{this.telefono}}</li> 
            <li><span class="negrita">Dirección:</span> {{this.domicilio}}</li> 
            <li><span class="negrita">Email:</span> {{this.email}}</li> 
        </ul> 

        <div class="subtitulo-parrafo">
            ¿Con qué finalidad tratamos sus datos personales?
        </div>

        <div class="parrafo">
            En {{this.responsable}} tratamos la información que nos facilitan las personas interesadas con el fin de realizar las siguientes finalidades:
        </div>

        <ol type="1">
            <li>Realizar la gestión administrativa, contable y fiscal de nuestros clientes sobre los servicios solicitados, atender su solicitud a través de los diferentes formularios a su disposición en la web y enviarle comunicaciones comerciales, inclusive por vía electrónica sobre nuestros productos y servicios.</li>
            <li>Realizar la gestión administrativa, contable y fiscal de los servicios contratados, así como de las personas de contacto de los proveedores.</li>
            <li>En lo relacionado con el departamento jurídico, el marco de la relación cliente-abogado para la prestación el servicio solicitado, y serán tratados con la finalidad de ejercer el correcto asesoramiento y la defensa jurídica efectiva, así como la propia gestión fiscal, contable y administrativa.</li>
            <li>Sobre nuestra relación con nuestros clientes de correduría de seguros, tratamos sus datos con la finalidad de la gestión fiscal, contable, administrativa y comercial, así como cualquier gestión que se encuentre entre las facultades atribuidas legalmente para el desempeño como mediador de seguros.</li>
            <li>Gestionar los Currículum Vitae recibidos y realizar los procesos de selección de personal.</li>
        </ol>

        <div class="subtitulo-parrafo">
            ¿Por cuánto tiempo conservaremos sus datos?
        </div>

        <div class="parrafo">
            Los datos se conservarán:
        </div>

        <ol type="1">
            <li>Mientras se mantenga la relación contractual o durante los años necesarios para cumplir con las obligaciones legales.</li>
            <li>En lo relativo al envío de comunicaciones promocionales, mientras no solicite la supresión de sus datos.</li>
            <li>En referencia a los currículums, 5 años a partir de la última interacción.</li>
        </ol>

        <div class="subtitulo-parrafo">
            ¿Cuál es la legitimación para el tratamiento de sus datos?
        </div>

        <div class="parrafo">
            Le indicamos la base legal para el tratamiento de sus datos:
        </div>

        <ul>
            <li>Ejecución de un contrato: prestación de los servicios solicitados y atender a su solicitud.</li>
            <li>Ejecución de un contrato: Realizar la gestión administrativa, contable y fiscal de los servicios contratados, así como de las personas de contacto de los proveedores.</li>
            <li>Interés legítimo del Responsable: Envío de comunicaciones comerciales sobre nuestros productos y servicios, incluido por vía electrónica.</li>
            <li>Consentimiento del interesado: Por el registro o atención de su solicitud en los formularios web a su disposición.</li>
            <li>Consentimiento del interesado: El tratamiento de sus datos para la atención y estudio de próximas solicitudes de presupuesto o contratación de productos aseguradores, incluso con compañías o corredurías distintas a la actual.</li>
            <li>Consentimiento del interesado: Gestionar los Currículum Vitae recibidos y realizar los procesos de selección de personal.</li>
            <li>Cumplimiento de una obligación legal: Cumplimiento de las obligaciones establecidas en la Ley 1/2000, de 7 de enero, de Enjuiciamiento Civil.</li>
            <li>Cumplimiento de obligaciones legales: Cumplimiento de las obligaciones establecidas en la Ley 26/2006 de 17 de julio de mediación en seguros y reaseguros.</li>
        </ul>

        <div class="subtitulo-parrafo">
            ¿Transferencias de datos a terceros países?
        </div>

        <div class="parrafo">
            No están previstas transferencias de datos a terceros países.
        </div>

        <div class="titulo-parrafo">
            Propiedad intelectual
        </div>
 
        <div class="parrafo">
            El sitio web, incluyendo diseños, logotipos, texto y/o gráficos que son propiedad del prestador o en su caso dispone de licencia o autorización expresa por parte de los autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de propiedad intelectual e industrial, así como inscritos en los registros públicos correspondientes.
        </div>

        <div class="parrafo">
            Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos. En todo caso, el prestador cuenta con la autorización expresa y previa por parte de los mismos.
        </div>

        <div class="titulo-parrafo">
            Menores de edad (14 años)
        </div>
 
        <div class="parrafo">
            ATENCIÓN: Para la utilización de los servicios que ofrece el sitio web, los menores de 14 años, deberán, previamente, haber obtenido autorización de sus padres, tutores o representantes legales, puesto que éstos deberán responder por los actos realizados por los menores que se encuentren a su cargo, correspondiéndoles toda la responsabilidad a la hora de determinar los contenidos y servicios a los que puedan tener acceso. Esta autorización, podrán realizarla a través del correo electrónico: {{this.email}}
        </div>

        <div class="titulo-parrafo">
            Ley aplicable y jurisdicción
        </div>

        <div class="parrafo">
            Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web o de las actividades en él desarrolladas, será de aplicación la legislación española, a la que se someten expresamente las partes, siendo competentes para la resolución de todos los conflictos derivados o relacionados con su uso los Juzgados y Tribunales de la provincia del titular de la web.
        </div>
        
        <div class="parrafo">
            Las condiciones presentes se regirán por la legislación española vigente.
        </div>

        <div class="parrafo">
            La lengua utilizada será el Castellano.
        </div>

    </div>

    <app-footer></app-footer>
</div>