/* Container */
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* Panel superior */
.panel-superior {
    width: 100%;
    background-image: url("../../../../assets/foto-restaurante-4.jpg");
    background-position: center;
    background-size: cover;
}

.cortina-transparente {
    background-color: rgba(0, 0, 0, 0.6);
}

.titulo {
    display: block;
    width: 100%;
    font-weight: 300;
    text-align: center;
    line-height: 50px;
    z-index: 10;
    font-family: 'Merienda', sans-serif;
    color: white;
    padding-top: 250px;
    padding-bottom: 100px;
    font-size: 45px;
    font-weight: 900;
}

.subtitulo, .carta-helados {
    background-color: var(--tono5-transparente);
    font-weight: 900;
    text-align: center;
    font-size: 1.3em;
    padding: 20px 5px 5px 5px;
}

.carta-helados {
    font-family: 'Cairo', sans-serif;
}

.subtitulo {
    font-family: 'Merienda', sans-serif;
}

.carta {
    background-color: var(--tono5-transparente);
    padding: 20px 0px;
}

.titulo-carta {
    background-color: var(--tono5-transparente);
    color: var(--color-negro-fondo);
    text-shadow: 1px 1px 1px var(--color-negro-fondo);
    font-size: 30px;
    line-height: 50px;
    font-weight: 500;
    padding: 50px 10px 25px 10px;
    text-align: center;
    font-family: 'Merienda', sans-serif;
}

.pbot60 {
    padding-bottom: 60px;
}