<div class="container">

    <!-- Panel superior con el título de la sección -->
    <div class="panel-superior">
        <div class="cortina-transparente">

            <div class="titulo-container" fxLayoutAlign="center" fxLayout="column">
                <div class="titulo animate__animated animate__fadeIn" fxFlex="100">
                    Contacta con nosotros
                </div>
            </div>

        </div>
    </div>

    <!-- Contacto -->
    <div class="contacto" fxLayout="row wrap" fxLayoutAlign="center">
        
        <div class="izquierdo" fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
            
            <div class="icono-restaurante">
                <img src="../../../assets/logo-restaurante-sin-copy.png" />
            </div>

            <div class="datos">
                <span class="negrita">Plaza Mayor, 28</span>
                <span class="negrita mb20">10600 Plasencia (Cáceres)</span>
                <span>Teléfono</span>
                <span class="negrita mb20">6XX XXX XXX</span>
                <span>Correo electrónico</span>
                <span class="negrita">info@restauranteamoremio.com</span>
            </div>

        </div>

        <div id="mapa" fxFlex="50" fxFlex.sm="100" fxFlex.xs="100"></div>

    </div>


    <app-footer></app-footer>

</div>